body{
    background-color: #4B3218;
}
header {
    background: no-repeat center center;
    background-size: cover;
    color: rgb(224, 220, 220);
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
}

.singleCol {
    max-width: 750px;

}

footer {
    background-color: rgb(158, 110, 71);
    
}

footer a {
    color: rgb(214, 23, 23);

}

footer a:hover {
    color: #cf2a2a;

}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 30vh;
    }
}

.lead{
    font-family: cursive;
    font-size: 2.5vh;
}

